<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>B L O G O</title>

  <link rel="stylesheet" href="/stylesheet.css" type="text/css">

  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js" defer></script>
</head>

<body>

  <nav id="newNav">
    <div id="leftNav">
      <a class="spacer" href="/">B L O G O</a>
      <a class="buttonLink spacer" href="/new">Create Post</a>
      <a class="buttonLink" href="/posts">Post Listing</a>
    </div>

    <a class="buttonLink spacer" href="/posts">Login</a>
  </nav>