<%- include("partials/header") %>

<div class="container">

  <div class="pageId">
    <h1>This is where you write a new blog post.</h1>
  </div>

  <div class="post">

    <form action="/" method="POST">

      <label for="blogPostTitle">Title</label>
      <input type="text" name="title" id="blogPostTitle">

      <label for="blogPostBody">Body</label>
      <textarea name="body" id="blogPostBody" rows="5"></textarea>

      <input class="formButton" type="submit" value="Submit">

      <input class="formButton" type="submit" value="Cancel" formaction="/">

    </form>

  </div>

</div>

<%- include("partials/footer") %>